<div id="initial-intro">
	<div class="framed-image">
    	<img src="/images/about.framed.image.jpg" alt="" />
    </div>
	<p>I am an experience Software Developer specialized on front-end technologies such as HTML/HTML5, CSS/CSS3, Javascript, Jquery, Flash Actionscript as well as PHP, MySQL, Ajax, Json.  I have been developing interactive and dynamically driven applications for more than 10 years.  I have created and maintained web applications and campaigns for clients such as Buger King, Volkswagen, Kraft Macaroni &amp; Cheese, Jell-O, Jose Cuervo, BestBuy, Domino's, Baby Carrots, and more.</p>
    <p>During the course of my career, I have learned to utilize coding techniques that allow for easy maintanance and modification through the use of 
    </p>
    <p>Since I was a little kid, I've always liked computers.</p>
</div>
<div class="column-social">
	<ul>
    	<li><a href="mailto:jimmy.pino@gmail.com" id="social-email" title="Email" target="_blank">Email</a></li>
        <li><a href="https://www.facebook.com/jimmy.pino.50" id="social-facebook" title="Facebook" target="_blank">Facebook</a></li>
        <li><a href="http://www.linkedin.com/pub/jimmy-pino/4/4a5/811" id="social-linkedin" title="LinkedIn" target="_blank">LinkedIn</a></li>
    </ul>
</div>